body {
  background: url('') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

* {
  font-family: 'Germania One';

}

.signin {
	color: white;
}

#scoreBoard {
	padding-left: 40px;
	border-left: 2px dotted black;
}

#gameBoard .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1%;
  padding: 5px;
  overflow: hidden;
  transition: 0.3s;
  width : 120px;
  height: 180px;
}

#chooseCard .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1%;
  padding: 5px;
  overflow: hidden;
  transition: 0.3s;
  width : 30px;
  height: 45px;
}



#gameBoard .card:hover {
  transform: scale(1.02);
}
#gameBoard .card-body {
  padding: 0.5rem !important;
}
#gameBoard .card-img-top {
  max-width: 240px !important;
  max-height: 220px !important;
  overflow: hidden;
}
#gameBoard .img-box {
  background-color: white;
  opacity: 0.95;
  width: 240px !important;
  height: 220px !important;
  overflow: hidden;
  vertical-align: middle;
  display: table-cell;
}


.part {
	margin-top: 20px;
}

#cardpool {
	height: 150px;
}





