body {
  background: url('https://cdn-images-1.medium.com/max/2600/1*hvOf471J_6PdM2R3kyOfYA.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

* {
  font-family: 'Germania One';
}

.signin {
	color: white;
}

/*.gameroom {
  margin-top: 20px;
}*/


.navbar-container {
	margin-bottom: 40px;
}
