body {
	background-color: #f9f6ea !important;
  color:#222026 !important;
}

* {
  font-family: 'Germania One';

}

.
/*
h1 {
  color: #cc7000 !important;
}*/


#search {
  width: 155px;
  text-align: center;
}


.btn-danger {
 /* background-color: #bf2709 !important;
  border-color:#bf2709 !important;*/
  background-color: #cc5e00 !important;
  border-color: #cc5e00 !important;

}

.btn-outline-dark {
  background-color: #e09d23 !important;
  color:white !important;
  border-color: white;
}

.cardGameName {
  border-bottom: 1px solid #f9f6ea;
  padding-bottom: 5px;
}

h6 {
  color: #bb964e;
}

/*.btn-dark {
  background-color: #464f75 !important;
  border-color: #596595 !important;
}*/
.content {
  padding-top: 40px;
}
.main-content {
   margin:0;
   padding:0;
}

.navbar {
  padding: .1rem .1rem;
  height: 15%;
  width:100%;
  min-width: 300px;
}

.navbar-container {
  width:100%;
  height:10%;
  min-width: 300px;
}

.bg-dark,.navbar-dark {
  color: #f9f6ea !important;
  background-color:#413C47 !important;
}
.navbar-content {
   height: 2%;
}

.navbar-header {
  text-align: center;
  width: 100%;
}
.navbar-brand {
	float:none;
  width: 250px;
}

.jumbotron {
    padding: 0rem 0rem !important;
    margin-bottom: 0rem !important;
    background-color: transparent !important;
    border-radius: 0rem !important;
    width:100%;
    object-position: center;
    min-height: 1000px;
    margin-left:auto;
    margin-right: auto;
    padding-left: auto;
    padding-right:auto;

}

.responsive {
  width: 100%;
  height: auto;
}


.modal-title, .modal-header {
  background-color:#cc5e00 !important;
  color:#f9f6ea !important;

}
.modal-content {
  background-color: #f9f6ea !important;
  color:#222026 !important;
}
.signin {
	color: white;
}

#scoreBoard {
	padding: 5%;
	border-right: 2px dotted black;
  margin-left: 0;
  padding-left: 0;
}

#gameBoard .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1%;
  padding: 8px;
  overflow: hidden;
  transition: 0.3s;
  width : 120px;
  height: 180px;
}

#addcard .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1%;
  padding: 5px;
  overflow: hidden;
  transition: 0.3s;
  width : 120px;
  height: 180px;
}


#chooseCard .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1%;
  padding: 5px;
  overflow: hidden;
  transition: 0.3s;
  width : 30px;
  height: 45px;
}

.boardInfo {
  color: #bb964e;
}

.gameInfo {
  color: #e09d23;
}


#gameBoard .card:hover {
  transform: scale(1.02);
}
/*#gameBoard .card-body {
  padding: 0.5rem !important;
}
*/
/*#gameBoard .card-img-top {
  max-width: 240px !important;
  max-height: 220px !important;
  overflow: hidden;
}
#gameBoard .img-box {
  background-color: white;
  opacity: 0.95;
  width: 240px !important;
  height: 220px !important;
  overflow: hidden;
  vertical-align: middle;
  display: table-cell;
}
*/
.gameInfo{
	size: 20px;
}

#displayDescrition {
	text-align: center;
	padding: 10px;
  font-style: italic;
}

.part {
	margin-top: 20px;
	margin-left:5%;
}

#cardpool {
	min-height: 150px;
}

.gameroom .card {
  margin: 20px;
  width: 195px;
  height: 230px;
  border: 1.3px solid #222026 !important;
}

.gameroom button {
  margin-left: 31px;
  margin-top: 5px;
}

.gameroom .cardbody {
  padding: 10px;
}

.gameroom .player {
  color: #bb964e;
}

.gameroom .card:hover {
  transform: scale(1.02);
}

<<<<<<< HEAD
=======
.gameroom .card {
  margin: 20px;
  width: 195px;
  height: 240px;
  border: 1px solid black;
}
/*
.gameroom button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.gameroom .cardbody {
  padding: 10px;
}

.gameroom .card:hover {
  transform: scale(1.02);
}*/

>>>>>>> 61f944c4f85362b484f5fa7da4bb68eb67b67c90
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background: transparent;
   border-top: 1px solid #E7E7E7;
   margin-top: 50px;
   padding: 20px;
   height: 60px;
   font-family: 'Germania One';
   text-align: center;
}




